.aboutpage {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin-top: 160px;
  margin-bottom: 140px;
  margin-left: 180px;
  margin-right: 180px;
  .aboutheader {
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
    h1 {
      color: rgb(71, 62, 54);
    }
  }
  .aboutbody {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    h2 {
      font-size: 20px;
      width: 50%;
      line-height: 25px;
      letter-spacing: 0.5px;
      text-align: justify;
      padding-bottom: 20px;
      color: rgb(71, 62, 54);
    }
    img {
      width: 300px;
      margin-right: 80px;
    }
  }
  .topline {
    border: 3px solid rgb(189, 177, 168);
    width: 100%;
    margin-bottom: 80px;
  }
  .bottomline {
    display: flex;
    margin: auto;
    margin-top: 40px;
    width: 75%;
    background: blue;
  }
}
