.Body {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 200px;
  margin-bottom: 130px;
  width: 100%;
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    p {
      width: 600px;
      font-size: 18px;
      letter-spacing: 1px;
      text-align: justify;
    }
    hr {
      color: black;
      width: 75%;
    }
  }
  .Cover {
    max-height: 500px;
    box-shadow: 0 3px 10px rgb(107, 107, 107);
  }
}

@media screen and (max-width: 480px) {
  .Body {
    justify-content: center;
    margin-top: 80px;
    margin-right: 5px;
    margin-bottom: 220px;
    margin-left: 5px;
    .Cover {
      max-height: 250px;
      margin-left: 30px;
    }
    .text {
      height: 450px;
      align-items: center;
      justify-content: flex-start;
      background: gray;
      margin-right: 10px;
      h1 {
        font-size: 14px;
      }
      h2 {
        font-size: 12px;
      }
      p {
        font-size: 8px;
        width: 150px;
      }
    }
  }
}
